.tarjeta{
    width: 480px;
    margin-top: 50px;

}
        .tarjeta .cabecera{
         display: flex;
         padding: 10px;
         border: rgb(0, 8, 14)solid;
         border-radius: 10% 10% 0% 0%;

         }
        .tarjeta .cabecera img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding-right: 5px;

         }
         .tarjeta .cabecera span{
            flex: 1;
            text-align: center;
            padding-top: 40px;
            font-size: 24px;
         

         }
          .tarjeta .cuerpo{
            text-align: justify;
            font-size: 18px;
            padding: 10px;
            border: rgb(0, 8, 14)solid;
          }
          .tarjeta .pie{
           border:rgb(0, 8, 14)solid;
           border-radius: 0% 0% 10% 10%;
           }
           .tarjeta .pie button{
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 20px;
                background-color: rgb(114, 168, 143);
                color: rgb(255, 255, 255);
                margin-top: 30px;
                margin-bottom: 30px;
               padding-right: 10px;
                margin-right: 10px;
            }
             .contenedor{
               display: flex;
             }
             .colorfondoazul{
                background-color:  rgb(213, 237, 247);
                color: rgb(67, 154, 194);
             }
             .colorfondorosa{
                background-color: rgb(255, 133, 198);
                color: rgb(255, 255, 255);
             }
             .colorfondoverdeclaro{
                background-color: rgb(217, 248, 215);
                color: rgb(245, 9, 186);
             }
             .alinearcentro{
                justify-content: center;

             }